<!-- Sección buscar video-->
<div class="video-banner-container">
  <!-- Video de fondo -->
  <video autoplay muted loop playsinline class="background-video">
    <source src="assets/videos/banner-video.mp4" type="video/mp4" />
    Tu navegador no soporta videos HTML5.
  </video>

  <!-- Contenido sobre el video -->
  <div class="video-banner-content">
    <h1>Crea historias emocionantes con vídeos de stock de calidad profesional</h1>
    <p>Descubre vídeos y motion graphics fascinantes sin derechos de autor</p>

    <div class="search-bar">
      <input type="text" placeholder="Buscar Videos" />
      <button><i class="fa fa-camera"></i></button>
      <button><i class="fa fa-search"></i></button>
    </div>

    <div class="popular-searches">
      <span>Búsquedas populares:</span>
      <button><i class="fa fa-search"></i> naturaleza</button>
      <button><i class="fa fa-search"></i> tayikistán</button>
      <button><i class="fa fa-search"></i> día de la tierra</button>
    </div>
  </div>
</div>
