<div class="estadisticas-container">
  <div class="titulo-section">
    <h3>LOS NÚMEROS DE FREEPIK</h3>
    <h1>Crecemos cada segundo</h1>

    <button class="register-btn" (click)="irARegistro()">Registrarse gratis</button>
</div>

  <div class="stats-grid">
    <div class="stat-item">
      <h2 class="stat-number turquesa">1000 M+</h2>
      <p class="stat-caption turquesa">imágenes creadas con IA, y subiendo</p>
      <p class="stat-description">
        Generación de contenido con IA en tiempo real como nunca antes.
      </p>
    </div>

    <div class="stat-item">
      <h2 class="stat-number naranja">64 M+</h2>
      <p class="stat-caption naranja">personas creativas satisfechas</p>
      <p class="stat-description">
        Únete a una creciente comunidad de personas innovadoras que dan forma al
        futuro de la creatividad.
      </p>
    </div>

    <div class="stat-item">
      <h2 class="stat-number azul">247 M+</h2>
      <p class="stat-caption azul">recursos listos para usar</p>
      <p class="stat-description">
        Iconos, vídeos, audio, imágenes, vectores y mucho más, todo ello listo
        para tu próximo proyecto.
      </p>
    </div>

    <div class="stat-item">
      <h2 class="stat-number morado">600 mil+</h2>
      <p class="stat-caption morado">personas suscritas</p>
      <p class="stat-description">
        La creatividad fluye gracias a las funciones Premium y sus posibilidades
        ilimitadas.
      </p>
    </div>
  </div>
</div>
