/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --blue-primary: #1273eb;
    --dark-text: #333333;
    --light-text: #ffffff;
    --border-color: rgba(255, 255, 255, 0.2);
    --button-border: rgba(255, 255, 255, 0.3);
    --yellow-accent: #ffc51e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-text);
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

footer {
    position: relative;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

app-gallery {
    display: block;
    margin-bottom: 20px;
    /* Añade espacio antes del footer */
}